*            text=auto eol=lf

*.sh         text eol=lf
*.bash       text eol=lf
*.bat        text eol=crlf
*.cmd        text eol=crlf
*.ps1        text eol=crlf
*.psm1       text eol=crlf
*.psd1       text eol=crlf

*.aab        binary
*.apk        binary
*.gif        binary
*.ico        binary
*.jar        binary
*.jpeg       binary
*.jpg        binary
*.otf        binary
*.png        binary
*.ttf        binary
*.webp       binary
*.woff       binary
*.woff2      binary
