[flake8]
max-line-length = 120
# E203 (whitespace before ':') conflicts with black's slice formatting;
# E501 (line too long) is left to black - it owns wrapping and won't split
# long URLs / string literals. Standard black+flake8 pairing, see
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html
extend-ignore = E203, E501
