[MAIN]
extension-pkg-allow-list=lxml.etree

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    import-outside-toplevel,
    duplicate-code,
    missing-function-docstring,
    missing-module-docstring,
    logging-fstring-interpolation,
    no-value-for-parameter,
    import-error

[FORMAT]
max-line-length=120

[DESIGN]
max-locals=25
